@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
* { font-family: 'Nanum Gothic', sans-serif; box-sizing: border-box; outline: none; }
html { font-size: 12px; color: #212121; }
body { padding: 0; margin: 0; }
ul { list-style: none; padding: 0; margin: 0; }
a { text-decoration: none; color: #212121; }

dl { display: table; width: 100%; padding: 0; margin: 0; }
dt { display: table-cell; width: 120px; vertical-align: middle; }
dd { display: table-cell; vertical-align: middle; }

input[type='text'], 
input[type='number'],
input[type='email'],
input[type='password'],
select { border: 1px solid #d5d5d5; height: 40px; width: 100%; border-radius: 5px; padding: 0 10px; }
textarea { border: 1px solid #d5d5d5; min-height: 150px; resize: none; border-radius: 5px; padding: 10px; width: 100%; }

/** 여백 */
.mt10 { margin-top: 10px !important; }

/** 공통 */
.table_cols { border-spacing: 0; padding: 0; width: 100%; }
.table_cols th { width: 120px; background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; padding: 7px 10px; } 
.table_cols td { border-bottom: 1px solid #d5d5d5; padding: 7px 10px; }
.table_cols tr:first-child th, .table_cols tr:first-child td { border-top: 1px solid #d5d5d5; }

.table_rows { border-spacing: 0; padding: 0; width: 100%; }
.table_rows thead th { background-color: #f8f8f8; padding: 10px; border: 1px solid #d5d5d5; border-left: 0; border-right: 0; }
.table_rows tbody td { border-bottom: 1px solid #d5d5d5; padding: 10px; }

.action_box { margin: 10px 0; }
.action_box select { width: auto; }

/* 메인 제목 */
.mtitle { font-size: 14px; font-weight: bold; margin-bottom: 15px; }

/** 레이아웃 */
#main_wrap { padding: 15px 10px; }


/** 버튼 */
.submit_btn { background-color: #212121; color: #ffffff; height: 45px; line-height: 45px; cursor: pointer; border-radius: 7px; width: 250px; margin: 20px auto; border: 0; display: block; }
.btn1, .btn2 { display: inline-block; padding: 5px 15px; background-color: blue; color: #ffffff; border-radius: 5px; font-size: 11px; cursor: pointer; border: 0; }
.btn2 { background-color: red; }
.btn3 { display: inline-block; height: 40px; padding: 0 20px; line-height: 40px; color: #ffffff; background-color: blue; border-radius: 5px; font-size: 12px; border: 0; cursor: pointer; }

/** 페이징 */
.paginator { text-align: center; padding: 20px 0; }
.paginator a { padding: 5px 10px; border: 1px solid #212121; font-size: 11px; border-radius: 3px; margin: 0 2px; }
.paginator a.paginator-current { background-color: #212121; color: #ffffff; }

/** 팝업 공통 */
.popup_tit { font-size: 17px; font-weight: bold; padding-bottom: 15px; margin-bottom: 20px; border-bottom: 1px solid #212121; }

/** 업로드 이미지 thumb */
.uploaded_images .images { display: inline-block; width: 50px; height: 50px; border: 1px solid #212121; position: relative; margin: 2px; }
.uploaded_images .images div { width: 48px; height: 48px; }
.uploaded_images .remove { position: absolute; top: 0; right: 0; z-index: 10; padding: 3px; background-color: #212121; color: #ffffff !important; cursor: pointer;  }

/** datepicker */
#ui-datepicker-div { z-index: 50 !important; }

/** outline/header/_main.html */
.main_menu { background-color: #d5d5d5; }
.main_menu li { float: left; }
.main_menu li a { display: block; padding: 13px 20px; font-size: 15px; font-weight: bold; }
.main_menu:after { clear: left; content: ''; display: block; }
.main_menu li a:hover,
.main_menu li.on a { background-color: orange; }

/** travel/form.html */
.datepicker { width: 150px !important; }


/** travel/package.html */
.body_admin_travel  .table_rows input[type='number'] { width: 60px; }