{% extends '../layout.html' %}
{% block content %}
<ul class='travel_goods_list'>
{% if list.length > 0 %}
{% for item in list %}
	<li>
		{% if item.listImages.length > 0 %}
		<div class='images' style="background:url('{{ item.listImages[0].fileUrl }}') no-repeat center center; background-size: cover">
		</div>
		{% endif %}
		<div class='goods_info'>
			<div class='goods_nm'>{{ item.goodsNm }}</div>
			{% if item.shortDescription %}
			<div class='short_desc'>{{ item.shortDescription }}</div>
			{% endif %}
		</div>
	</li>
{% endfor %}
{% else %}
	<li class='no_goods'>등록된 상품이 없습니다.</div>
{% endif %}
</ul>
{{ pagination | safe }}
{% endblock %}