/** default/_form.html */
.board_default dl { margin-bottom: 5px; }
.board_default dt { width: 120px; }


/** default/_view.html */
.board_default .subject { border: 1px solid #d5d5d5; padding: 10px; margin-bottom: 10px; } 
.board_default .poster_info { border: 1px solid #d5d5d5; padding: 10px; margin-bottom: 10px; }
.board_default .poster_info .date { float: left; }
.board_default .poster_info .poster { float: right; }
.board_default .poster_info:after { clear: both; content: ''; display: block; }
.board_default.view .contents { border: 1px solid #d5d5d5; padding: 10px; min-height: 300px; }

.board_default .btns { margin: 15px 0; }