/** default/_form.html */
.board_default dl { margin-bottom: 5px; }
.board_default dt { width: 120px; }


/** default/_view.html */
.board_default .subject { border: 1px solid #d5d5d5; padding: 10px; margin-bottom: 10px; } 